*{
    margin: 0px;
    padding: 0px;
}
.main-bg{ 
    height: 575px;
    width: 100%;
    background-image: url("../Blog/newspaper.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

h1{ 
    color: white;
    opacity: 0.85;
    font-weight: 800;
    font-size: 120px;
    text-align: center;
    letter-spacing: 1px;
    
}

.container{
    background-color: #d8e8ec;
    padding-right: 125px;
    padding-left: 21.5%;
    max-height: auto;
    min-height: 450px;
    width: 100%;
    
    
    
}


 

.p1{
    padding:7% 0;
    padding-left: 17%;
    color: #546c79;
    text-align: left;
    font-size: 22px;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.dev{
    background-color: white;
    height: 700px;
    width :100%;
}
.dev-name{
    color:rgba(44, 38, 38, 0.829);
    text-align: center;
    padding-top: 55px;
    font-size: 80px;
}

