*{
    margin: 0px;
    padding: 0px;
}
.main-bg{ 
    height: 575px;
    width: 100%;
    background-image: url("../Blog/newspaper.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

h1{ 
    color: white;
    opacity: 0.85;
    font-weight: 800;
    font-size: 120px;
    text-align: center;
    letter-spacing: 1px;
    
}

.container{
    background-color: #d8e8ec;
    max-height: auto;
    min-height: 450px;
    width: 100%;
   display:grid; 
   place-items:center;
   grid-template-columns:1fr 2fr
}

.imgcontainer{
		height:80%;
		width:80%;
}

.imgcontainer >img{
		height:100%;
		width:100%;
		object-fit:cover;
}
.p1{
    color: #546c79;
    text-align: left;
    font-size: 22px;
	padding:30px;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.dev{
    background-color: white;
    height: 700px;
    width :100%;
}
.dev-name{
    color:rgba(44, 38, 38, 0.829);
    text-align: center;
    padding-top: 55px;
    font-size: 80px;
}

