:root {
    --font: "Roboto", sans-serif;
    --fontOrigin: 1rem;     /* 16px */
    --fontSmall: 0.625em;   /* 10px */
    --fontMedium: 0.875em;  /* 14px */
    --fontNormal: 1em;      /* 16px */
    --fontLarge:  1.375em;  /* 22px */
    --fontLight: 100;
    --fontRegular: 400;
    --speed: 0.65s;
  }
  
  @keyframes zoom {
    from {
      object-position: 0 50%;
    }
    to {
      object-position: 100% 50%;
    }
  }

  
  * {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    
  }
  body{
    
    
    overflow-x: hidden;
    background-color:black;
    
   
  }
  #particles-js{
		position: absolute;
		height: 100%;
		width:100%;
		
}
  


  
   .wrapper {
    font-family: var(--font);
    font-weight: var(--fontOrigin);
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 0.005rem;
    -webkit-font-smoothing: subpixel-antialiased;
    font-synthesis: subpixel-antialiased;
    
    
  }
  
  .wrapper {
    
    width: 100vw;
    height:90.4vh;
  
    
  }
  .upper{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    padding-top: 105px;
  }
  .lower{
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    
  }
  
  
  .card {
    position: relative;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    display: block;
    width: 100%;
    max-width: 350px;
    height: 200px;
    font-size: var(--fontOrigin);
    border-radius: 8px;
    box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    z-index:1;
    
  }
  
  .card:hover {
    box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  
  
  
  
  .card__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
  }
  
  .card__image img {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    animation-name: zoom;
    animation-duration: 30s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .card:hover .card__image img {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.5;
  }
  
  
  
  
  .stripe{
    display: block;
    margin-top: 15%;
    height: 30px;
    background-color: #2e965fc7;
    rotate: 0deg;
    max-width: 200px;
    width: 150px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .card__name {
    
    align-self: center;
    justify-self: center;
    color: #50d890;
    font-family: cursive;
    font-size: 1.28rem;
    font-weight:550;
    letter-spacing: 0.08rem;
    padding-top:3px ;
    text-align: center;
    text-transform: uppercase;
    
    background: -webkit-linear-gradient(white,white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    text-rendering: geometricPrecision;
    backface-visibility: hidden;
    
  }
  
  .card:hover .card__name {
    background: -webkit-linear-gradient( 
      10deg,
      #9effed,
      #8c9efa,black
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @media screen and (max-width:1600px){
    
    .upper{
      padding-top: 90px;
      padding-bottom: 90px;
    }
  }

  @media screen and (max-width:1250px){
     
    .upper{
      padding-top: 110px;
    }
    .card{
    width: 300px;
    height: 175px;
  }
   .card__name{
     padding-top: 70px;
     font-size: 1.9rem;
   }

  }
  @media screen and (max-width:972px){
    .upper{
      display: flex;
      flex-direction: column;
      padding-top: 60px;
      padding-bottom: 0;
    }
    .lower{
      display: flex;
      flex-direction: column;
      padding-top: 60px;

    }
    .wrapper{
      display: flex;
      justify-content: space-evenly;
      height: 750px;
    }
    .card{
      width: 350px;
      height: 175px;
    }
  }

  @media screen and (max-width:800px){
    .wrapper{
      display: block;
      height: auto;
    }
    .card{
      width:75vw;
      max-width: 700px;
      height: 200px;
      max-height: 250px;
        }
    .upper{
      padding-top: 90px;
      padding-bottom: 0px;
    }   
    .lower{
      padding-bottom: 130px;
      padding-top: 0px;
    }
    .card__name{
      padding-top: 85px;
    }
    
    .two{
      top: 20px;
    }
    .three{
      top: 40px;
    }
    .four{
      top: 60px;
    }
    .five{
      top: 80px;
    }
    .six{
      top:100px;
    }

  }
  @media screen and (max-width:800px){
    .card{
      width:83vw;
      max-width: 700px;
      height: 140px;
  }
    .card__name{
    padding-top: 59px;
    font-size: 25px;
  }

}