.container{
		height: 100vh;
		display:grid;
		font-family:"Raleway", sans-serif;
}

#particles-js{
		position: absolute;
		height: 100%;
		width:100%;
		
}

.form-container{
	height: 70%;
	width:60%;
	place-self:center;
	background:#F6F6F6 ;
	border-radius:10px;
	box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.25), -12px -12px 15px rgba(255, 255, 255, 0.7);
	z-index: 1;
}
.form-info{
		margin:60px;
		display:flex;
		justify-content:space-between;
}
.form-info > * >h3{
		margin-left:13px;
		margin-bottom:15px;
		color: rgba(35, 42, 52, 0.56); 
}
.form-name > div{
		border-radius:25px;
		height:48px;
		width:300px;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.8);
}
.form-mail >div {
		border-radius:25px;
		height:48px;
		width:450px;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.8);

}
.form-content{
		margin-left:60px;
		margin-right:60px;
}
input[type=text]{
		border:none;
		background:transparent;
		padding:5px;
		margin-left: 8px;
		height: 100%;
		width: 100%;
		font-family:bold;
		font-size: 18px;
		color: #50D894
}
