.container {
  min-height: 100vh;
  display: grid;
  font-family: "Raleway", sans-serif;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}
body {
  background-color: #f6f6f6;
}

.form-container {
  min-height: 70%;
  width: 60%;
  place-self: center;
  background: #f6f6f6;
  border-radius: 10px;
  box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.25),
    -12px -12px 15px rgba(255, 255, 255, 0.7);
  z-index: 1;
}
.form-info {
  margin: 60px;
  display: flex;
  justify-content: space-between;
}
.form-info > * > h3 {
  margin-left: 13px;
  margin-bottom: 15px;
  color: rgba(35, 42, 52, 0.56);
}
.form-name > div {
  border-radius: 25px;
  height: 48px;
  width: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    -5px -5px 10px rgba(255, 255, 255, 0.8);
}
.form-name > div:hover,
.form-mail > div:hover {
  background-color: #f0f0f0;
  box-shadow: inset 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset -5px -5px 7px rgba(255, 255, 255, 0.7);
}
.form-name > div:focus-within,
.form-mail > div:focus-within {
  background-color: #f0f0f0;
  box-shadow: inset 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset -5px -5px 7px rgba(255, 255, 255, 0.7);
}

.form-mail > div {
  border-radius: 25px;
  height: 48px;
  width: 450px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    -5px -5px 10px rgba(255, 255, 255, 0.8);
}
.form-content {
  margin-left: 60px;
  margin-right: 60px;
  height: 60%;
}
.form-content > h3 {
  margin-left: 13px;
  margin-bottom: 15px;
  color: rgba(35, 42, 52, 0.56);
}
.form-submit {
  margin-top: 25px;
  position: relative;
  height: 48px;
  width: 250px;
  border-radius: 25px;
  font-weight: 600;
  color: #50d894;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    -5px -5px 10px rgba(255, 255, 255, 0.8);
}
.form-submit:hover {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.25),
    inset -5px -5px 10px rgba(255, 255, 255, 0.8);
  background-color: #f0f0f0;
  color: #ff4949;
  cursor: pointer;
}
.form-submit > h3 {
  line-height: 48px;
}
.write-content {
  width: 100%;
  height: 80%;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    -5px -5px 10px rgba(255, 255, 255, 0.8);
}
.write-content:hover {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.25),
    inset -5px -5px 10px rgba(255, 255, 255, 0.8);
  background-color: #f0f0f0;
}
.write-content:focus-within {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.25),
    inset -5px -5px 10px rgba(255, 255, 255, 0.8);
  background-color: #f0f0f0;
}
form {
  height: 90%;
}
::-webkit-input-placeholder {
  color: #ff4949;
}

::-moz-placeholder {
  color: #ff4949;
}

::-ms-placeholder {
  color: #ff4949;
}

::placeholder {
  color: #ff4949;
}
input[type="text"] {
  border: none;
  background: transparent;
  outline: none;
  padding: 5px;
  margin-left: 8px;
  margin-right: 8px;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #50d894;
}
textarea {
  height: 100%;
  outline: none;
  color: #50d894;
  font-size: 16px;
  font-weight: 500px;
  background: none;
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 8px;
  width: 90%;
  resize: none;
  border: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.form-submitted {
  height: 100%;
  width: 100%;
  display: grid;
  background: none;
  place-items: center;
}
.back-button {
  height: 48px;
  width: 200px;
  border-radius: 200px;
  background-color: #50d894;
  text-align: center;
  line-height: 48px;
  margin-top: 0;
  color: #232a34;
  cursor: pointer;
  z-index: 1;
}
.back-button:hover {
  cursor: pointer;
}
