body{
		background:url("pic6.jpg");
		background-size:cover;
}
.contact{
		font-family:'Raleway', sans-serif;
		display:grid;
		width:100%;
		align-items:center;
		justify-content:center;
		min-height:100vh;
}
.form-container{
		background:rgba(0,0,0,0.6);
		padding:50px;
		align-items:center;
		justify-content:center;
		display:grid;
		grid-template-rows:1fr 1fr 3fr 1fr;
		gap: 10px;
		margin:10px;
}


.form-name{
		min-width:20vw;
		color:white;
		border-bottom:1px solid white;
}
.form-mail{
		
		border-bottom:1px solid white;
		color:white;
}
.form-content{
		min-height:15vh;
		border-bottom:1px solid white;
		color:white;
}
.form-container h2{
		
		font-size:24px;
		font-weight:400;
}
input{
		color:#50d890;
}
input[type="text"]{ width:100%;
		outline:none;
		font-size:23px;
		border:none;
		background:rgba(0,0,0,0.0);

}
.form-name:focus-within{
		color:#50d890;
		border-bottom:1px solid #50d890;
}
.form-mail:focus-within{
		color:#50d890;
		border-bottom:1px solid #50d890;
}
.form-content:focus-within{
		color:#50d890;
		border-bottom:1px solid #50d890;
}
textarea{
		color:#50d890;
		height:100%;
		width:100%;
		outline:none;
		font-size:20px;
		border:none;
		background:rgba(0,0,0,0.0);
}
.submit-button{
		padding:10px;
		min-height:55px;
		background-color:#50d890;
		text-align:center;

}
.submit-button:hover{
		cursor:pointer;
}
.submit-button h2{
		color:white;
		font-size:22px;
		font-family:'Raleway',sans-serif;
}

.form-submitted {
  height: 100%;
  width: 100%;
  display: grid;
  background: none;
  place-items: center;
}
.back-button {
  height: 48px;
  width: 200px;
  border-radius: 200px;
  background-color: #50d894;
  text-align: center;
  line-height: 48px;
  margin-top: 0;
  color: #232a34;
  cursor: pointer;
  z-index: 1;
}
.back-button:hover {
  cursor: pointer;
}
