*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
		background-color: floralwhite

}
#vid{
		position: absolute;
		object-fit: cover;
		height: 100%;
		width:100%;

}

#logo{
		height: 50vw;
		max-height: 50vh;
		width:100%;
		position: relative;
		display: flex;
		background-color:  black;
		justify-content: center;
		text-align: center;
		align-items: center;
		align-content: center;
		overflow: hidden;
}
#logo h1 {	
		position: relative;
		font-size: 10vw;
		z-index:1000;
		color: black;
		mix-blend-mode:darken;
		font-family: 'Abril Fatface',  cursive;
}
.top_article{
		display: grid;
		background-color:#fafafa; 
		position:absolute;
		margin-top: -2vh;
		margin-left: 20%;
		margin-right: 20%;
		grid-template-columns: 3fr 2fr;
		height: 40vh;
		box-shadow: 0px 0px 10px 3px black;
		border-radius: 10px;
		z-index: 10000;

}
.top_article:hover{
		box-shadow: 0px 0px 12px  4px black;
}
.top_img{
	height: 100%;
	width: 95%;
	align-self: center;
	right:5%;
	position: relative;
	background-image: url('wood.jpg');
	background-size: cover;

} 
.top_art_desc{
		font-size: 24px;
		font-family: 'Abril fatface', cursive;
		padding: 10px;
}

