body{
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0rem;
}
a{
    text-decoration: none;
    color:white;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav{
    background-color:rgba(0, 0, 0, 0.932);
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.nav .nav-brand a{
    font-size: 2rem;
    padding: 1.3rem 0;
    padding-left: 2rem;
    display: block;
    color:white;
    
}
.nav .nav-menu{
    justify-content: space-between;
    
}
.nav .nav-items{
    display: flex;
    margin: 0rem;
    padding-right: 2rem;
    list-style-type: none;
    color: white;
;
}
.nav .nav-items .nav-links{
    padding: 1.6rem 2.5rem;
    font-size: 1.2rem;
    position: relative;
    color: white;
  
}
.nav .nav-items .nav-links :hover{
     color:rgb(255, 230, 0);
}
.exp{
    color:rgba(38, 190, 236, 0.904);
}
.exp :hover{
    color:rgb(255, 230, 0);
}
main .site-title{
    background-image: url(../Blog/blogtown.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: rgb(245, 245, 245);
    text-shadow: 3px 4px 3px black;

}
.wrap ,.slide-content,#slider{
    margin: 0;
    padding: 0rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    }
.wrap{
    position: relative;
}
.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 70%;
    margin-left: 15%;
    border-radius: 8.6px;
}
.slide1{
    background-image: url("../Blog/bb1.jpg");
}
.slide2{
    background-image: url(../Blog/dark2.jpg);
}
.slide3{
    background-image: url(../Blog/mh3.jpg);
}
.slide-content{
    align-items: center;
    text-align: center;
   
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.slide-content span{
    font-size: 4rem;
    color:white;
    margin-top: 21.5vh;
    text-shadow: black 6px 2px 6px;
   
}
.arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -216px;
    width: 0;
    height: 0;
    border-style: solid;


}
#arrow-left{
    border-width: 30px 40px 30px 0;
    border-color: transparent rgba(255, 255, 255, 0.45) transparent transparent;
    left: 0;
    margin-left: 330px;
}
#arrow-right{
    border-width: 30px 0px 30px 40px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.45);
    right: 0;
    margin-right: 330px;
}





.footer{
    position: relative;
    bottom: 0px;
    color: ivory;
    width: 100%;
    background-color: black;

}
.main-content{
    display: flex;
    justify-content: space-around;
}
.us{
    flex-basis: 20%;
    padding: 10px 20px;
}

