body{
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0rem;
    background-color: #EDEDED;
}
/*  -- Video Banner  start --             */

.header-container{
		height:70vh;
		display:flex;
		position:relative;
		align-items:center;
		justify-content:center;
}
.vid-container{
		height:100%;
		width:100%;
		position:absolute;
		z-index:-1;
}

video{
		
		height:100%;
		width:100%;
		object-fit:cover;
		z-index:-1;
}
.overlay{
		height:100%;
		position:absolute;
		width:100%;
		background-color:white;
		opacity:0.5;
}
.waste{
		height:100vh;
}
.header-content{
	font-family:'Raleway', sans-serif;
	font-size:20px;
	color:#232A34;
	z-index:1;
	display:block;
}
.header-content h1{
		font-size:6em;
		 font-weight:800;
		 letter-spacing:4px;
}
.header-content h1 > span{
		color:rgb(80,216,144);
}
.header-content p{
		font-family:'Dancing Script', cursive;
		font-weight:900;
		font-size:3em;
		text-align:center;
		margin-bottom:10px;
		
}
.header-content div{
		display:flex;
		place-self:center;
}
.header-content div a{
		border-radius:10px;
		padding:10px 40px;
		margin:auto;
		background-color:#232A34;
		text-decoration:none;
		color:rgba(80,216,144)

}
/* -- Video Banner End --             */

main .site-title{
    
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: rgb(245, 245, 245);
    text-shadow: 3px 4px 3px black;
}
.corousel-bg{
  background-color: white ;
  padding-top: 30px;
  padding-bottom: 15px;
}

.home{
	height: 61vh;
	overflow:hidden;
  position: relative;
  width: 68%;
  
  background-color: black;
  left: 16%;
  
}
.home .one{
  background-image: url("../Blog/bb1.jpg");
}
.home .two{
  background-image: url("../Blog/dark2.jpg");
}
.home .three{
  background-image: url("../Blog/mh3.jpg");
}

.home .slide{
	position: absolute;
	left:0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index:1; 
	display:none;
	padding:0 15px;
  animation: slide 2s ease;
 
}
.home .slide.active{
	display: flex;
}
@keyframes slide{
	0%{
		transform:scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
.container{
	max-width: 1170px;
  margin:auto;
  
  
  
	
}

.home .container{
   flex-grow: 1;
   animation: fadeout 2s ease;
   
   
}



.home .caption{
  width:100%;
  text-align: center;
  
}
.home .caption h1{
	font-size:42px;
	color:white;
  margin:0;
  padding-bottom: 20px;
	
}
.home .slide.active .caption h1{
	
  animation: captionText 1s ease forwards;
	
}
.home .caption p{
	font-size: 25px;
	margin-top:60px;
  color:white;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  }

.home .slide.active .caption p{

		animation: fade 1s ease-in-out forwards;
  }
  
/*.home .caption .genre{
 display: inline-block;
 padding:5px 15px;
 background-color:transparent;
 text-decoration: none;
 color:wheat;
 border-radius: 100px;
 border: 2px solid white;
 animation: fade 1s ease-in-out ;
 margin-top: 20px;
}*/

@keyframes captionText{
	0%{
		opacity:0; transform: translateX(-100px);
	}
	100%{
	 opacity:1; transform: translateX(0px);	
	}
}

.home .controls .prev{
 left:25px;
 position: absolute;
 z-index:2;
 top:50%;
 margin-top: -30px;
 line-height: 40px;
 cursor:pointer;
 border-style: solid;
 border-width: 30px 35px 30px 0;
 border-color: transparent rgba(255, 255, 255, 0.432) transparent transparent;
 display: none;
}

.home .controls .next{
 right:25px;
 position: absolute;
 z-index:2;
 top:50%;
 margin-top: -30px;
 line-height: 40px;
 cursor:pointer;
 border-style: solid;
 border-width: 30px 0px 30px 35px;
 border-color: transparent transparent transparent rgba(255, 255, 255, 0.432);
 display: none;
 }

.home:hover .prev{
  display: flex;
  animation: fade .5s ease-in-out;
}
.home:hover .next{
  display: flex;
  animation: fade .5s ease-in-out ;
  
}
@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
 }


.home .indicator{
	position: absolute;
	left:50%;
	bottom:30px;
	z-index: 2;
	transform: translateX(-50%);
}

.home .indicator div{
	display: inline-block;
	width:22px;
	height: 22px;
	color:rgb(255, 255, 255);
	background-color:rgba(255, 255, 255, 0.432);
	border-radius:50%;
	text-align: center;
	line-height: 20px;
  margin:0 6px;
  
}

.home .indicator div.active{
 color: #000;
 background-color:white;
}

/*responsive*/
@media(max-width: 767px){
	.controls{
		display: none;
	}
}
.line{
  height: 1.5px;
  width: 120px;
  border: 2.5px solid #50d88fa9;
  border-radius: 40px;
  margin-top: 6.5px;
}

.blog-card-head{
  font-size: 33px;
  font-weight: 900;
  padding-bottom:40px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  color:rgba(41, 39, 38, 0.925);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  letter-spacing: 2px;
}

.blog-cards{
  display: flex;
  justify-content: space-evenly;
  padding-right:30px;
  padding-left: 30px;
}

.blog-card{
  display: flex;
  justify-content: space-evenly;
}

.row2{
  padding-bottom: 40px;
}


.square:hover {
    -webkit-transform: translate(20px, -10px);
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
     }


.square{
  width: 315px;
	background: white;
  border-radius: 2px;
  box-shadow: 0px 20px 50px #D9DBDF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}

.blog-card > .one{
  height: 440px;
}
.blog-card > .two{
  height: 400px;
}
.blog-card > .three{
  height: 440px;
}
.blog-card > .four{
  height: 400px;
  margin-top: 40px;
}
.blog-card > .five{
  height: 460px;
}
.blog-card > .six{
  height: 400px;
  margin-top: 40px;
}


.mask{
  clip: rect(0px, 315px, 200px, 0px);
  border-radius: 2px;
  position: absolute;
}

img{
  width: 315px;
  }

 .blog-card .h1{
  margin: auto;
  text-align: left;
  margin-top: 210px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  font-family: 'Merriweather', serif;
  font-size: 21px;
}
.blog-card p{
 text-align: justify; 
 padding-left: 20px;
 padding-right: 20px;
 font-family: 'Open Sans', sans-serif;
 font-size: 15px;
 color: #C8C8C8;
 line-height: 18px;
 padding-top: 12px;
}

.mid-bg{
  padding-top: 30px;
  background-color:#b7bdb700;
  margin-right: 11%;
  margin-left: 11%;
  
}
.side-bg{
  background-color:#EDEDED;
  margin-bottom: 30px;
}
.top-picks{
  background-color: rgb(224, 240, 222);
}

.top-picks .cards{
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
  padding-bottom: 40px;
}

.top-picks > .head{
  font-size: 33px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 35px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.card:hover {
  -webkit-transform: translate(20px, -10px);
  -ms-transform: translate(10px, -10px);
  transform: translate(10px, -10px);
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  transition: all ease 0.3s;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
 
   }

.top-picks > .card {
}
 .imgbox{
  height: 275px;
  width: 250px;
  opacity: 1;
  border-radius: 1px;
}

.head > .lined{
  height: 1.5px;
  width: 65px;
  border: 2.5px solid #53bb83b6;
  border-radius: 40px;
  margin-top: 6.5px;
}

/* -- Video Banner  Media Query -- */
@media(max-width:850px){

		.header-content{
				font-size:15px;
		}
}
@media(max-width:600px){
		.header-content{
				font-size:12px;
		}
}
@media(max-width:470px){
		.header-container{
				height:100vh;
		}			
		.header-content{
				font-size:9px;
		}
		.header-content div a{
				font-size:12px;
		}
}
@media(max-width:362px){
		.header-content{
				font-size:7px;
		}
}
/* -- Video Banner Media Query -- */




