body{
    margin: 2000rem;
    box-sizing: border-box;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
nav{
    background-color: black;
    color: blanchedalmond;
display: flex;
flex-direction: row;
}