body{
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0rem;
}
main .site-title{
    background-image: url(../Blog/blogtown.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: rgb(245, 245, 245);
    text-shadow: 3px 4px 3px black;

}
.wrap ,.slide-content,#slider{
    margin: 0;
    padding: 0rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    }
.wrap{
  padding-top: 5px;
  position: relative;
  overflow-y: hidden;
}
.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 70%;
    margin-left: 15%;
    border-radius: 8.6px;
}
.slide1{
    background-image: url("../Blog/bb1.jpg");
}
.slide2{
    background-image: url(../Blog/dark2.jpg);
}
.slide3{
    background-image: url(../Blog/mh3.jpg);
}
.slide-content{
    align-items: center;
    text-align: center;
   
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.slide-content span{
    font-size: 4rem;
    color:white;
    margin-top: 21.5vh;
    text-shadow: black 6px 2px 6px;
   
}
.arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -216px;
    width: 0;
    height: 0;
    border-style: solid;


}
#arrow-left{
    border-width: 30px 40px 30px 0;
    border-color: transparent rgba(255, 255, 255, 0.45) transparent transparent;
    left: 0;
    margin-left: 330px;
}
#arrow-right{
    border-width: 30px 0px 30px 40px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.45);
    right: 0;
    margin-right: 330px;
}





.footer{
    position: relative;
    bottom: 0px;
    color: ivory;
    width: 100%;
    background-color: black;
    color: blanchedalmond;
    display: flex;
    justify-content: center;

}
:root {
    --font: "Roboto", sans-serif;
    --fontOrigin: 1rem;     /* 16px */
    --fontSmall: 0.625em;   /* 10px */
    --fontMedium: 0.875em;  /* 14px */
    --fontNormal: 1em;      /* 16px */
    --fontLarge:  1.375em;  /* 22px */
    --fontLight: 100;
    --fontRegular: 400;
    --speed: 0.65s;
  }
  
  @keyframes zoom {
    from {
      object-position: 0 50%;
    }
    to {
      object-position: 100% 50%;
    }
  }

  
  * {
    border: 0;
    margin: 0;
    padding: 0;
    
  }

  
   .wrapper {
    font-family: var(--font);
    font-weight: var(--fontOrigin);
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 0.005rem;
    -webkit-font-smoothing: subpixel-antialiased;
    font-synthesis: subpixel-antialiased;
    
  }
  
  .wrapper {
    
    width: 100vw;
  
    padding-top: 140px;
    padding-bottom: 40px;
  }
  .upper{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
  
    
  }
  .lower{
    display: flex;
    justify-content: space-evenly;
  }
  
  
  .card {
    position: relative;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    display: block;
    width: 100%;
    max-width: 350px;
    height: 200px;
    font-size: var(--fontOrigin);
    border-radius: 8px;
    box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
  }
  
  .card:hover {
    box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  
  .card__save {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    opacity: 0;
    border-radius: 3px;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
  }
  
  .card__save:focus {
    outline: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .card:hover .card__save {
    opacity: 0.6;
  }
  
  .card__save i {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
  }
  
  .card__save:hover i {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card__save:active,
  .card__save.active {
    opacity: 1 !important;
  }
  
  .card__save:active i,
  .card__save.active i {
    color: white;
  }
  
  .card__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
  }
  
  .card__image img {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    animation-name: zoom;
    animation-duration: 30s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .card:hover .card__image img {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.5;
  }
  
  
  
  .card__body {
    display: grid;
    padding: 0 20px;
  }
  
  .card__name {
    padding-top: 80px;
    align-self: center;
    justify-self: center;
    margin-bottom: 2px;
    color: white;
    font-size: var(--fontLarge);
    font-weight: var(--fontLight);
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    background: -webkit-linear-gradient(white, #a1a1a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
  }
  
  .card:hover .card__name {
    background: -webkit-linear-gradient(white, #c1c1c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .card__job {
    align-self: center;
    justify-self: center;
    display: inline-block;
    font-size: var(--fontSmall);
    font-weight: var(--fontLight);
    text-align: center;
    letter-spacing: 0.35rem;
    color: rgba(100, 130, 200, 0.45);
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
  }
  
  .card:hover .card__job {
    color: rgba(100, 130, 200, 1);
  }
  
  .card__bio {
    position: relative;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
    display: block;
    margin: 22px 0 16px 0;
    font-size: var(--fontMedium);
    font-weight: var(--fontLight);
    /*text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.35);*/
    color: rgba(255, 255, 255, 0.65);
    opacity: 0;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
  }
  
  .card:hover .card__bio {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

 


.main-content{
    display: flex;
    justify-content: space-around;
}
.us{
    flex-basis: 20%;
    padding: 10px 20px;
}




