*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
    .nav-links > a{
    text-decoration: none;
    color: white;
    letter-spacing:2px;
    }
    .nav-brand > a{
    text-decoration: none;
    }
    .flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    nav{
    position: sticky;
    width: 100%;
    top:0;
    background-color:#232a34;
    padding: 0 2rem;
    height: 0;
    min-height: 8vh;
    z-index:1000;
    font-family:'Raleway', sans-serif;
    }
    .nav-brand{
    display: flex;
    }
    .brand {
    font-size: 1.9rem;
    padding: 1rem 0;
    color:white;
    padding-left: 2rem;
    letter-spacing: 2px;
    font-weight:600;
    }
    #check{
    display: none;
    }
    .fa-bars{
    font-size: 27px;
    color: #50d88fc7;
    float: left;
    margin-right: 25px;
    margin-top: 22px;
    cursor: pointer;
    }
    .checkbtn{
    display: none;
    }
    .brand2 {
    font-size: 1.9rem;
    padding: 1rem 0;
    color:#50d890;
    letter-spacing:2px;
    font-weight:600;
    }
    .nav-menu{
    justify-content: space-between;
    }
    .nav-items{
    display: flex;
    margin: 0rem;
    padding-right: 2rem;
    list-style-type: none;
    color: white;
    
    }
    .nav-links{
    padding: 1.35rem 2.5rem;
    font-size: 1.1rem;
    position: relative;
    }
    .nav-links :hover{
    color:#50d890;
    }
    
    
    
    @media screen and (max-width:1086px){
    *{
    padding: 0;
    margin: 0;
    }
    
    .nav{
    min-height: 8vh;
    width: 100%;
    display: flex;
    overflow-y: hidden;
    align-items: center;
    }
    .nav-links >a{
    font-size:0.95rem;
    }
    .nav-links{
    padding-top: 1.6rem;
    padding-right: 1.5rem;
    }
    .nav-brand > a{
    font-size: 1.6rem;
    padding-top: 23px;
    }
    .nav-brand{
    padding-right: 40px;
    padding-left: 0px;
    }
    .nav-items{
    padding-left: 3rem;
    padding-right: 0.5rem;
    }
    
    }
    
    @media screen and (max-width:972px){
    
    .nav{
    padding:0;
    position: fixed;
    overflow-y: hidden;
    
    
    }
    .flex-row{
    display: flex;
    justify-content: space-between;
    width: 150%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
    }
    .nav-items{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #232a34;
    top: 51.5px;
    left: -100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    transition: all .5s;
    }
    .nav-brand{
        padding-left: 0px;
        
    }
    .nav-links{
    padding-top: 50px;
    }
    .nav-links > a{
    font-size: 15px;
    }
    .checkbtn{
    display: block;
    }
    .brand{
    padding-left: 1.5rem;
    font-size: 25px;
    }
    #check:checked ~ .nav-items{
    left: 0%;
    }
    #check:checked ~ .checkbtn i:before{
    content: "\f00d";
    }
    }

.footer{
    position: relative;
    bottom: 0px;
    color: white;
    width: 100%;
    background-color: #232a34;
    display: flex;
    
    letter-spacing: 3px;
    flex-direction: column;
    justify-content: center;

}

.social{
        margin-top: 3.7vh;
        margin-bottom: 4vh;
        text-align: center;
        font-family: 'Long Cang', cursive;
        font-size: 35px;
        color: rgba(255, 255, 255, 0.842);
        
}

.content{
      font-size: 30px;
      margin-top:27px;
      padding-bottom: 4px;

}
.content > a{
      color:#50d890;
      padding-left:  5px;
      padding-right:  5px;
      padding-bottom: 50px;
      opacity: 0.75;
}

.copyright{
  color: rgba(255, 255, 255, 0.774);
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  font-family: 'Oxygen', sans-serif;
  font-size: 12.25px;
  padding-top: 11px;

}
.content > .fb :hover {
    color: #1877f2;
    opacity: 1;
}
.content > .twtr :hover {
    color: #00acee;
    opacity: 1;
}
.content > .insta :hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  
    opacity: 1;
}
.content > .utube :hover {
    color: #c4302b;
    opacity: 1;
}
