body {
  background-color: #fafafa;
}
.blog-container {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
}
.blog-content {
  position: relative;
  max-width: 1100px;
  padding: 2em;
  background-color: white;
  min-height: 100vh;
  font-size: 15px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.blog-content > *:not(.img-container, .blog-title) {
  padding: 2rem;
}
.genre-container {
  margin-left: 0;
}
.genre {
  background-color: #50d890;
  height: 40px;
  line-height: 40px;
  width: 15ch;
  margin-top: 80px;
  text-align: center;
  justify-items: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 800;
}
.genre > h3 {
  font-family: "Montserrat", sans-serif;
  color: floralwhite;
}
.text > * {
  display: block;
  margin-top: 50px;
}
.blog-content > h1 {
  padding-top: 5vh;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 2px;
  word-spacing: 8px;
  color: #563c41;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  font-family: "Libre Baskerville", serif;
}
.img-container {
  min-height: 20vh;
  max-width: 800px;
  margin: auto;
}
.img-container > img {
  height: 100%;
  width: 100%;
}
.text {
  text-align: left;
  line-height: 1.5;
  letter-spacing: px;
  font-size: 18px;
  word-spacing: 5px;
  color: #563c41;
}
.text:last-child {
  padding-bottom: 50px;
}
.author{
		margin-top:10vh;
		font-family:'Montserrat', sans-serif;
}
.authorimg-container{
		height:150px;
		width:150px;
		margin:auto;
}
.authorimg-container > img{
		height:100%;
		border-radius:50%;
		width:100%;
}

.author-img{
		margin:auto;
}
.author-block1{
		margin:auto;
		text-align:center;
}
.author-block1 > h4{
		color: #563c41;
		padding:1em;

}
.author-block2{
		margin:auto;
		text-align:center;
}
.author-bio{
		display:flex;
		margin:auto;
		background-color:white;
		max-width:300px;
		min-height:150px;
		justify-content:center;
		text-align:center;

}
.blog-content a {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ff0036;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ff0036;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  font-family: "Roboto", sans-serif;
  display: inline;
}

.posts-container {
  position: relative;
  margin-top: 70px;
  margin-left: 10ch;
  margin-right: 10ch;
  display: none;
  height: 42vh;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 80px;
  font-family: "Raleway", sans-serif;
  background-color: #f1f1f1;
  overflow-x: hidden;
}
.post-card {
  height: 35vh;
  position: relative;
  display: none;
  width: 35ch;
  border-radius: 5px;
  line-height: 20px;
  background-color: white;
  transition-duration: 600ms;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.post-img {
  height: 45%;
  border-radius: 5px;
}
.post-img > img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.post-content {
  margin-top: 13px;
  margin-left: 15px;
  width: 33ch;
}
.post-category {
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 13px;
  color: #50d890;
}
.post-title {
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 5px;
}
.post-author {
  letter-spacing: 2px;
  font-weight: 600;
  position: sticky;
  bottom: 0;
  font-size: 12px;
  color: grey;
}
.post-card:hover {
  height: 40vh;
  width: 38ch;
  cursor: pointer;
}
.left-icon {
  position: absolute;
  height: 35px;
  width: 35px;
  font-size: 35px;
  left: 1%;
  color: #50d890;
  z-index: 1000;
}
.right-icon {
  position: absolute;
  height: 35px;
  width: 35px;
  font-size: 35px;
  right: 1%;
  color: #50d890;
  z-index: 1000;
}
.left-icon:hover,
.right-icon:hover {
  cursor: pointer;
}

@media (max-width: 1380px) {
  .genre {
    display: none;
  }
}
@media (max-width: 1200px) {
  .blog-container {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .text > * {
    margin-top: 20px;
  }
  .blog-content h1 {
    font-size: 25px;
  }

  .text {
    font-size: 16px;
    word-spacing: 4px;
  }
}
@media (max-width: 500px) {
  .text {
    font-size: 14px;
  }
  .blog-content h1 {
    font-size: 22px;
  }
}
@media(max-width:400px){
  .blog-content h1 {
    font-size: 20px;
  }

}

@keyframes leftfadeout {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 0;
    display: none;
    width: 0;
  }
}
@keyframes rightfadein {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
