body{
}
.blog-container{
		display:grid;
		grid-template-columns: 1fr 4fr 2fr;
}
.blog-content{
		position: relative;
		margin-top: 5vh;
		background-color: floralwhite;
		min-height: 100vh;
		font-size: 15px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
}
.blog-content > *{
		margin-left: 10ch;
		margin-right: 10ch;
}
.genre{
		position:fixed;
		background-color:#FF0036;
		height: 40px;
		line-height: 40px;
		width:15ch;
		margin-top: 80px;
		text-align: center;
		justify-items: center;
		font-family: 'Montserrat', sans-serif;
		color: floralwhite;
		font-weight: 800;
}
.genre > h3{
		font-family: 'Montserrat', sans-serif;
		color:floralwhite;
}
.text > *{
		display: block;
		margin-top: 50px ;
}
.blog-content > h1{
		padding-top: 5vh;
		font-size: 32px;
		font-weight: 800;
		letter-spacing: 2px;
		word-spacing: 8px;
		color: #563C41;
		margin-bottom: 5vh;
		margin-left: auto;
		margin-right: auto;
		font-family: 'Libre Baskerville', serif;
}
.img-container{
		height: 45vh;

}
.img-container > img{
		height: 100%;
		width: 100%;
}
.text {
		text-align: left;
		line-height:1.5;
		letter-spacing: px;
		font-size: 18px;
		word-spacing: 5px;
		color: #563C41;
}
.text:last-child{
		padding-bottom: 50px;
}

.author {
		font-family: 'Montserrat', sans-serif;
		margin-top: 10vh;
}
.author-img {
		margin-top: 60px;
		margin-left: 80px;
		margin-right: 50px;
		height:40vh;
		width: 70%;
		text-align: center;
}
.author-img > h1 {
		color:#756367;
		font-size: 30px;
}
.author-img > h2  {
		margin-top: 30px;
		font-size: 28px;
		text-align: center;
		color: #756367;
		font-family: 'Dancing script', cursive;
}
.author-img > h4 {
		color: #756367;
		letter-spacing: 1px;
		font-weight: bold;
}
.authorimg-container {
		margin-top: 10px;
		height: 150px;
		width: 150px;
		border-radius: 10px;
		align-content: center;
		justify-content: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
		
}
.authorimg-container > img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		margin-left: auto;
		margin-right: auto;
		display: block;
}
.author-bio{
		width:100%;
		margin-top:10%;
		font-family: 'Montserrat', sans-serif;
		letter-spacing: 1px;
		line-height: 1.2;
		word-spacing: 5px;
		color: #756367;
		font-size: 15px;
		text-align: center;
		background-color: floralwhite;
}
.author-bio >p{
		margin: 25px;
		padding-top: 30px;
		padding-bottom: 30px;
}
.blog-content a {
  color: green;
  background-color: transparent;
  text-decoration: none;
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #FF0036;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #FF0036;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
	font-family: 'Roboto', sans-serif;
	display: inline;
	
}

.posts-container{
		position: relative;
		margin-top: 70px;
		margin-left:10ch ;
		margin-right:10ch;
		display: flex;
		height: 42vh;
		align-items: center;
		justify-content: space-evenly;
		margin-bottom: 80px;
		font-family: 'Raleway', sans-serif;
		background-color: floralwhite;
		overflow-x: hidden;
}
.post-card{
		height: 30vh;
		width:25ch;
		border-radius: 5px;
		line-height: 20px;
		background-color: white;
		transition-duration: 600ms;
}
.post-img{
		height: 50%;
		border-radius: 5px;
}
.post-img > img{
		height: 100%;
		width:100%;
		border-radius: 5px;
		object-fit: cover;
}
.post-content{
		margin-top: 20px;
		margin-left: 15px;
}
.post-category{
		margin-bottom:10px;
		letter-spacing: 2px;
		font-weight: 600;
		font-size: 12px;
		color: #FF0036;
}
.post-title{
		letter-spacing: 2px;
		font-weight: 600;
		font-size: 15px;
		margin-bottom: 10px;

}
.post-author{
		letter-spacing: 2px;
		font-size: 13px;
		color: grey;

}
.post-card:hover{
		height: 35vh;
		width:30ch;
		cursor:pointer;

}
.left-icon{
		position: absolute;
		height: 35px;
		width: 35px;
		font-size: 35px;
		left: 4%;
		color: #FF0036;
}
.right-icon{
		position: absolute;
		height: 35px;
		width: 35px;
		font-size: 35px;
		right: 4%;
		color: #FF0036;
}

