{% extends 'Blog/layout.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'Blog/about.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playfair+Display&display=swap" rel="stylesheet">  
{% endblock %}

{% block body %}

<body>

    <div class="main-bg">
        <h1>
            About Us
        </h1>
    </div>
    <hr style="height: 1px;border: 2.55px solid #476968;">
    

    
    <div class="container">
			<div class="imgcontainer"><img src="{% static 'Blog/type.jpg' %}" alt=""></div>
		<div class="p1">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique unde corrupti reiciendis iste dolor rerum doloremque sint quod, architecto, optio sequi quas quis ipsum quidem esse, obcaecati officiis reprehenderit cupiditate voluptate autem dicta placeat soluta! Ipsa fugit laudantium ipsum totam. Eos tenetur, animi quas nesciunt facilis modi obcaecati ipsa rem odit repellat sapiente velit perspiciatis quisquam maxime voluptatum repudiandae numquam, iure quis maiores earum sint, laborum dolore? Ab voluptas eaque necessitatibus expedita repellendus iure recusandae, amet quas, perspiciatis temporibus atque itaque ad! Praesentium ullam molestiae iusto neque adipis.
        </p>
		</div>

    </div>
    <div class="dev">
        <h1 class="dev-name">
             DEVELOPER<span >S</span>
        </h1>
        
    </div>

    <div class="devlopers">
        <a href="#">
        <div class="image1"><img src="{%static 'Blog/dev1.jpg'%}" alt=""></div>
        <div class="desig"> 
       <p>
           TARIQUE NASAR
       </p>
    
       <h3>
           (Co-Founder / Software Developer)
       </h3>
    </div>
       </a>
       <div class="v1">
           
       </div>
       <a href="#">
    <div class="image1"><img src="{%static 'Blog/dev2.jpg'%}" alt=""> </div>
    <div class="desig"> 
        <p>
           SHUBHAM  MITTAL
        </p>
        <h3>
            (Co-Founder / Web Developer)
        </h3>
     </div>
    </div>      
    </a>
       
    </div>











</body>



















{% endblock %}
