{% extends 'Blog/layout.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'Blog/about.css' %}">

{% endblock %}

{% block body %}

<body>

    <div class="main-bg">
        <h1>
            About Us
        </h1>
    </div>

    <div class="container">
        <h2 class="h2">
            What we do ?
        </h2>
        <p class="p1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique unde corrupti reiciendis iste dolor rerum doloremque sint quod, architecto, optio sequi quas quis ipsum quidem esse, obcaecati officiis reprehenderit cupiditate voluptate autem dicta placeat soluta! Ipsa fugit laudantium ipsum totam. Eos tenetur, animi quas nesciunt facilis modi obcaecati ipsa rem odit repellat sapiente velit perspiciatis quisquam maxime voluptatum repudiandae numquam, iure quis maiores earum sint, laborum dolore? Ab voluptas eaque necessitatibus expedita repellendus iure recusandae, amet quas, perspiciatis temporibus atque itaque ad! Praesentium ullam molestiae iusto neque adipisci, nostrum ratione minus excepturi beatae provident minima ab modi doloremque quis aspernatur.
        </p>

    </div>










</body>



















{% endblock %}