{% extends 'Blog/layout.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'Blog/categories.css' %}">

{% endblock %}

{% block body %}

<body class="bg">
  
  <div id="particles-js"> </div>
<section class="wrapper">
 
 
    <div class="upper"> 
     <!-- BEGIN: card -->
     <div class="card one" data-effect="zoom">
      
       <figure  class="card__image">
         <img src="https://wallpapercave.com/wp/wp4064618.jpg" alt="Short description">
       </figure>
     
       <div class="card__body">
         <div class="stripe">
         <h3 class="card__name">Novels</h3>
        </div>
       </div>
       
     </div>
     <div class="card two" data-effect="zoom">
         
         <figure  class="card__image">
           <img src="https://wallpapercave.com/wp/wp4275032.jpg" alt="Short description">
         </figure>
        
         <div class="card__body">
          <div class="stripe">
           <h3 class="card__name">web Series</h3>
          </div>
         </div>
         
       </div>
       <div class="card three" data-effect="zoom">
         
         <figure  class="card__image">
           <img src="https://wallpapercave.com/wp/BjdaYpj.jpg" alt="Short description">
         </figure>

         <div class="card__body">
          <div class="stripe">
           <h3 class="card__name">sports</h3>
          </div>
           
         </div>
        
       </div>
     </div>
       <div class="lower">
       <div class="card four" data-effect="zoom">
         
         <figure  class="card__image">
           <img src="https://wallpapercave.com/wp/wp1892105.png" alt="Short description">
         </figure>
         
         <div class="card__body">
          <div class="stripe">
           <h3 class="card__name">anime</h3>
          </div>
          
         </div>
         
       </div>
       <div class="card five" data-effect="zoom">
         
         <figure  class="card__image">
           <img src="https://wallpapercave.com/wp/CNMgmkD.jpg" alt="Short description">
         </figure>
         
         <div class="card__body">
          <div class="stripe">
           <h3 class="card__name">movies</h3>
          </div>
           
         </div>
        
       </div>
       <div class="card six" data-effect="zoom">
         
         <figure  class="card__image">
           <img src="https://c1.staticflickr.com/4/3935/32253842574_d3d449ab86_c.jpg" alt="Short description">
         </figure>
        
         <div class="card__body">
          <div class="stripe">
           <h3 class="card__name">manga</h3>
          </div>
           
         </div>
         
     </div>
       </div>
     <!-- END: card -->

     <script>

var demoButtons;

function start () {
  
  // Add event "click" to "demo buttons"
  demoButtons = document.querySelectorAll ('.js-modify');
  for (var i = 0; i < demoButtons.length; i++) {
    demoButtons[i].addEventListener ('click', toggleEffect);
  }
  
  // Add event "click" to "save buttons"
  var saveButtons = document.querySelectorAll ('.js-save');
  for (var i = 0; i < saveButtons.length; i++) {
    saveButtons[i].addEventListener ('click', toggleActive);
  }
  
}

// Toggle "effect" classes
function toggleEffect () {
  var target = document.querySelector (this.dataset.target);
      target.dataset.effect = this.dataset.effect;
  
  for (var i= 0; i < demoButtons.length; i++) {
    demoButtons[i].classList.remove ('active');
  }
  
  toggleActive.call (this);
}

// Toggle "active" class
function toggleActive () {
  this.classList.toggle ('active');
}

// Invoke "start ()" function
window.addEventListener ('load', start);



     </script>
     
   </section>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
		particlesJS.load('particles-js', '{% static 'Blog/particles.json' %}', function() {
  console.log('callback - particles.js config loaded');
  
});
</script>


{% endblock %}
