{% extends 'Blog/layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'Blog/contact.css' %}">
{% endblock %}

{% block body %}
<div class="container">
	<div id="particles-js"> </div>
			<div class="form-container">
			<div class="form-info">
			        <div class="form-name">
							<h3>NAME</h3>
							<div><input id="name-input"type="text" name="name"></div>
					</div>
			        <div class="form-mail">
							<h3>E-mail</h3>
							<div><input id="mail-input" type="text" name="mail"></div>
			        </div>
			</div>
			<div class="form-content">
					<h3>Content</h3>
					<div><input type="text" name="content"></div>
					<div class="form-submit"></div>
			</div>
		</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
		particlesJS.load('particles-js', '{% static 'Blog/particles.json' %}', function() {
  console.log('callback - particles.js config loaded');
  
});
</script>
{% endblock %}
 
