{% extends 'Blog/layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'Blog/contact.css' %}">
{% endblock %}

{% block body %}
<div class="form-container">
	<div id="particles-js"> </div>
	<div class="form-container">
			<div class="form">
			<div class="form-info">
			        <div class="form-name">
							<h3>Name</h3>
							<input id="name-input"type="text" name="name">
					</div>
			        <div class="form-mail">
							<h3>E-mail</h3>
			                <input id="mail-input" type="text" name="mail">
			        </div>
			</div>
			<div class="form-content">
					<h3>Content</h3>
					<input type="text" name="content">
					<div class="form-submit"></div>
			</div>
			</div>
		</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
		particlesJS.load('particles-js', '{% static 'Blog/particles.json' %}', function() {
  console.log('callback - particles.js config loaded');
  
});
nav = document.querySelector(".nav")
nav.style.backgroundColor = "#000000"
nav.style.opacity = 1;
document.querySelector(".brand2").style.color = "#39ff14";
document.addEventListener("DOMContentLoaded",()=>{
	document.querySelector(".footer").style.backgroundColor = "#000000";
		document.querySelectorAll(".content >a").forEach( element =>{
				element.style.color = "#39ff14"
		} )
	
})
</script>
{% endblock %}
 
