{% extends 'Blog/layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'Blog/contact.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap" rel="stylesheet">
<script src="{% static 'Blog/contact.js' %}"></script>
{% endblock %}

{% block body %}
		<form action="/Blog/contact" method="POST">
							{% csrf_token %}
							<section class="contact" data-method={{method}}>
				{% if method == 'get' %}
				
				<div class="form-container">
						
						<div class="form-name"><p><h2>Name</h2>
								<input type="text" placeholder="" id="name-input" name="name" tabindex="1">
								</p></div>
						<div class="form-mail"><p><h2>Email</h2>
								<input type="text" placeholder="" id="mail-input" name="mail" tabindex="2">
								</p></div>
						<div class="form-content"><p><h2>Message</h2>
								<textarea id="message" name="content" placeholder="" cols="30" rows="10"></textarea>
								</p></div>
				<div class="submit-button"><h2>SUBMIT</h2></div>
				</div>
		{% else %}
		<div class="form-submitted">
		        <h1>Your Message Has Been Sent . We Will Send A Reply within 24 hours</h1>
		        <div class="back-button"><h2>BACK</h2></div>
		</div>
		{% endif %}
				</section>
		</form>
{% endblock %}
 
