{% extends "Blog/layout.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "/Blog/main.css" %}">

{% endblock %}


{% block body %}
<main>
    <section class="site-title">
        <div class="site-background">
            <h1><a href="#">BlogTown</a></h1>
         </div>
    </section>
    <section>
    
        <div class="wrap">
            <div id="arrow-left" class="arrow"></div>
            <div id="slider">
                <div class="slide slide1">
                    <div class="slide-content">
                        <span> Breaking Bad</span>
                    </div>
                </div>
                <div class="slide slide2">
                    <div class="slide-content">
                        <span> Dark</span>
                    </div>
                </div>
                <div class="slide slide3">
                    <div class="slide-content">
                        <span>money Heist</span>
                    </div>
                </div>
            </div>
            <div id="arrow-right" class="arrow"></div>
        </div>
    </section>  
    




        <script>
             


            let sliderImages = document.querySelectorAll(".slide"),
            arrowLeft = document.querySelector("#arrow-left"),
            arrowRight = document.querySelector("#arrow-right"),
            current = 0;
//clear all images
            function reset(){
                for(let i = 0;i<sliderImages.length;i++){
                    sliderImages[i].style.display = "none";

                }
            }
            // init slider
            function startSlide(){
                reset();
                sliderImages[0].style.display = "block";
            }

            function slideLeft(){
                reset();
                sliderImages[current - 1].style.display= "block";
                current--;
                }
            function slideRight(){
                reset();
                sliderImages[current+1].style.display ="block";
                current++;
            }
            arrowLeft .addEventListener("click",function(){
                if(current === 0){
                    current = sliderImages.length;
                }
                slideLeft();
            });
            arrowRight .addEventListener("click",function(){
                if(current === sliderImages.length-1){
                    current = -1;
                }
                slideRight();
            });
            startSlide();



        </script> 



        <!-- Blog  card -->


        <div class="blog-cards">
        <div class="blog-card">
          <div class="square">
            <img src="https://images.unsplash.com/photo-1504610926078-a1611febcad3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e1c8fe0c9197d66232511525bfd1cc82&auto=format&fit=crop&w=1100&q=80" class="mask">
         <div class="h1">Is Apple a Design Company?</div>
            <p>Apple is more than a tech company; it became a culture unto itself, a passion of most of people and the birthplace of the world’s most revolutionized products.</p>
            
         <div><a href="https://medium.com/@laheshk/is-apple-a-design-company-f5c83514e261" target="_" class="button">Read More</a></div>
          </div>
         </div>
         

         <div class="blog-card">
          <div class="square">
            <img src="https://images.unsplash.com/photo-1504610926078-a1611febcad3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e1c8fe0c9197d66232511525bfd1cc82&auto=format&fit=crop&w=1100&q=80" class="mask">
         <div class="h1">Is Apple a Design Company?</div>
            <p>Apple is more than a tech company; it became a culture unto itself, a passion of most of people and the birthplace of the world’s most revolutionized products.</p>
            
         <div><a href="https://medium.com/@laheshk/is-apple-a-design-company-f5c83514e261" target="_" class="button">Read More</a></div>
          </div>
         </div>
         

         <div class="blog-card">
          <div class="square">
            <img src="https://images.unsplash.com/photo-1504610926078-a1611febcad3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e1c8fe0c9197d66232511525bfd1cc82&auto=format&fit=crop&w=1100&q=80" class="mask">
         <div class="h1">Is Apple a Design Company?</div>
            <p>Apple is more than a tech company; it became a culture unto itself, a passion of most of people and the birthplace of the world’s most revolutionized products.</p>
            
         <div><a href="https://medium.com/@laheshk/is-apple-a-design-company-f5c83514e261" target="_" class="button">Read More</a></div>
          </div>
         </div>
        </div>



         <!-- Blog card end  -->


         


 
</main>
{% endblock %}
