{% extends "Blog/layout.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "/Blog/main.css" %}">
<link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet"> 
<script src="https://kit.fontawesome.com/e8ff83bdae.js" crossorigin="anonymous"></script>


{% endblock %}


{% block body %}

<! -- video banner start -->
<div class="header-container">
<div class="vid-container">
    <video autoplay muted loop src="{% static 'Blog/v4.mp4' %}"></video>
</div>
<div class="overlay"></div>
<div class="header-content">
<h1>BLOG<span>TOWN</span></h1>
<div>		<a href="{% url 'categories' %}" class="btn" >Explore </a> </div>

</div>
</div>



<! -- video banner end -->


<main>    

 
    <div class="sep" style="height: 3px; width: 100%;border: 2px;background-color:#030303e7" ></div>
        <div class="side-bg">
          <div class="mid-bg">

        <div class="blog-card-head">
            <h4>Latest Articles</h4>
            <div class="line"></div>
        </div>

        <div class="blog-cards">
            
        <div class="blog-card">
          <div class="square one oddcards">
            <div>
                <img src="https://images.pexels.com/photos/3862130/pexels-photo-3862130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="maskodd">
            </div>
            <div class="card-content">
                <div class="card-genre">
                <a class="genre-link"href="#"> <h3>Manga</h3></a>
                </div>
                <a class="read-link" href="#"><div class="h1">Is Apple a Design Company? and why should we hire you irrespe of your chutiyapa and i cant forgive you bastard
                </div></a>
                </div>
            <div class="icons">
                <div>
                <i class="far fa-heart"></i>
                </div>
                <div class="like-count">
                 <h4>121</h4>   
                </div>
                <div>
                <i class="fas fa-share-alt"></i>
                </div>
            </div>
          </div>
         </div>
         <div class="blog-card">
        
            <div class="square two evencards">
            <div>
                <img src="https://images.pexels.com/photos/4110334/pexels-photo-4110334.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="mask">
            </div>
            <div class="card-content">
                <div class="card-genre">
                <a class="genre-link"href="#"><h3>Series</h3></a>
                </div>
               <a class="read-link" href="#"> <div class="h1">Is Apple a Design Company? and why should we hire you irrespe of your chutiyapa and i cant forgive you bastard
                </div> </a>
                </div>
            <div class="icons">
                <div>
                <i class="far fa-heart"></i>
                </div>
                <div class="like-count">
                 <h4>121</h4>   
                </div>
                <div>
                <i class="fas fa-share-alt"></i>
                </div>
            </div>
                </div>
         </div>

           <div class="blog-card">
        
            <div class="square three oddcards">

                <div>
                    <img src="https://images.pexels.com/photos/2763967/pexels-photo-2763967.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="maskodd">
                </div>
                <div class="card-content">
                    <div class="card-genre">
                    <a class="genre-link"href="#"> <h3>Anime</h3></a>
                    </div>
                    <a class="read-link" href="#"><div class="h1">Is Apple a Design Company? and why should we hire you irrespe of your chutiyapa and i cant forgive you bastard
                    </div></a>
                    </div>
                <div class="icons">
                    <div>
                    <i class="far fa-heart"></i>
                    </div>
                    <div class="like-count">
                     <h4>121</h4>   
                    </div>
                    <div>
                    <i class="fas fa-share-alt"></i>
                    </div>
                </div>  
            </div>
           </div>
        </div>

        <div class="blog-cards row2">
            
            <div class="blog-card">
            
              <div class="square four evencards">

                <div>
                    <img src="https://images.pexels.com/photos/3304344/pexels-photo-3304344.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="mask">
                </div>
                <div class="card-content">
                    <div class="card-genre">
                    <a class="genre-link"href="#"> <h3>Movies</h3></a>
                    </div>
                    <a class="read-link" href="#"><div class="h1">Is Apple a Design Company? and why should we hire you irrespe of your chutiyapa and i cant forgive you bastard
                    </div></a>
                    </div>
                <div class="icons">
                    <div>
                    <i class="far fa-heart"></i>
                    </div>
                    <div class="like-count">
                     <h4>121</h4>   
                    </div>
                    <div>
                    <i class="fas fa-share-alt"></i>
                    </div>
                </div>
                </div>
                </div>

             <div class="blog-card">
            
                <div class="square five oddcardexe">

                    <div>
                        <img src="https://images.pexels.com/photos/2239700/pexels-photo-2239700.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="maskoddexe">
                    </div>
                    <div class="card-content">
                        <div class="card-genre">
                        <a class="genre-link"href="#"> <h3>Novel</h3></a>
                        </div>
                        <a class="read-link" href="#"><div class="h1">Is Apple a Design Company? and why should we hire you irrespe of your chutiyapa and i cant forgive you bastard
                        </div></a>
                        </div>
                    <div class="icons">
                        <div>
                        <i class="far fa-heart"></i>
                        </div>
                        <div class="like-count">
                         <h4>121</h4>   
                        </div>
                        <div>
                        <i class="fas fa-share-alt"></i>
                        </div>
                    </div>
                </div>
               </div>

               <div class="blog-card">
            
                <div class="square six evencards">

                    <div>
                        <img src="https://images.pexels.com/photos/4611683/pexels-photo-4611683.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="mask">
                    </div>
                    <div class="card-content">
                        <div class="card-genre">
                        <a class="genre-link"href="#"><h3>Sports</h3></a>
                        </div>
                        <a class="read-link" href="#"><div class="h1">Is Apple a Design Company? and why should we hire you irrespe of your chutiyapa and i cant forgive you bastard
                        </div></a>
                        </div>
                    <div class="icons">
                        <div>
                        <i class="far fa-heart"></i>
                        </div>
                        <div class="like-count">
                         <h4>121</h4>   
                        </div>
                        <div>
                        <i class="fas fa-share-alt"></i>
                        </div>
                    </div>
            
                </div>
               </div>
            </div>

            <div class="carousel-head">
                <h4>Trending</h4>
                <div class="line"></div>
            </div>

            <!-- corousel starts -->

  <div class="carousel-bg">
    <section class="home">
        <div class="slider">
           <div class="slide active one">
               <div class="container">
                   <div class="caption">
                       <h1> </h1>
                       <h2 class="genre"> </h2>
                       <p>  </p>
                       
                   </div>
               </div>
           </div>
           <div class="slide two">
               <div class="container">
                   <div class="caption">
                       <h1> </h1>
                       <h2 class="genre"> </h2>
                       <p> </p>
                       
                   </div>
               </div>
           </div>
           <div class="slide three" >
               <div class="container">
                   <div class="caption">
                       <h1> </h1>
                       <h2 class="genre"></h2>
                       <p></p>
                       
                   </div>
               </div>
           </div>
        </div>
      
       <!-- controls  -->
       <div class="controls">
           <div class="prev"><</div>
           <div class="next">></div>
       </div>
    
       <!-- indicators -->
       <div class="indicator">
       </div>
    
       <script>
                       
     const slides=document.querySelector(".slider").children;
     const prev=document.querySelector(".prev");
     const next=document.querySelector(".next");
     const indicator=document.querySelector(".indicator");
     let index=0;
    
    
       prev.addEventListener("click",function(){
           prevSlide();
           updateCircleIndicator(); 
           resetTimer();
       })
    
       next.addEventListener("click",function(){
          nextSlide(); 
          updateCircleIndicator();
          resetTimer();
          
       })
    
       // create circle indicators
        function circleIndicator(){
            for(let i=0; i< slides.length; i++){
                const div=document.createElement("div");
                      div.innerHTML=i+1;
                    div.setAttribute("onclick","indicateSlide(this)")
                    div.id=i;
                    if(i==0){
                        div.className="active";
                    }
                   indicator.appendChild(div);
            }
        }
        circleIndicator();
    
        function indicateSlide(element){
             index=element.id;
             changeSlide();
             updateCircleIndicator();
             resetTimer();
        }
         
        function updateCircleIndicator(){
            for(let i=0; i<indicator.children.length; i++){
                indicator.children[i].classList.remove("active");
            }
            indicator.children[index].classList.add("active");
        }
    
       function prevSlide(){
            if(index==0){
                index=slides.length-1;
            }
            else{
                index--;
            }
            changeSlide();
       }
    
       function nextSlide(){
          if(index==slides.length-1){
              index=0;
          }
          else{
              index++;
          }
          changeSlide();
       }
    
       function changeSlide(){
                  for(let i=0; i<slides.length; i++){
                       slides[i].classList.remove("active");
                  }
    
           slides[index].classList.add("active");
       }
    
       function resetTimer(){
             // when click to indicator or controls button 
             // stop timer 
             clearInterval(timer);
             // then started again timer
             timer=setInterval(autoPlay,5000);
       }
     
      
      function autoPlay(){
          nextSlide();
          updateCircleIndicator();
      }
    
      let timer=setInterval(autoPlay,5000);
    
       </script>
    
     </section>
    </div>
     
     <!-- corusel ends -->
     

         <div class="top-picks">

            <div class="head">
                Top-picks
                <div class="lined"></div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="imgbox" style="background:linear-gradient(to top, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0)), url('https://images.pexels.com/photos/4925891/pexels-photo-4925891.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500'); background-repeat: no-repeat; background-size: 100%; background-size: cover;"></div>
                    <div class="content">
                        <h3>MOVIES</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing eli</p>
                    </div>
                </div>
                <div class="card">
                    <div class="imgbox" style="background:linear-gradient(to top, rgba(0, 0, 0, 0.9) 40%, rgba(241, 239, 239, 0)), url('https://images.pexels.com/photos/574282/pexels-photo-574282.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500'); background-repeat: no-repeat; background-size: 100%; background-size: cover;"></div>
                    <div class="content">
                        <h3>SERIES</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, deserunt.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="imgbox" style="background:linear-gradient(to top, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0)), url('https://images.pexels.com/photos/3733925/pexels-photo-3733925.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500'); background-repeat: no-repeat; background-size: 100%; background-size: cover;"></div>
                    <div class="content">
                        <h3>ANIME</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="imgbox" style="background:linear-gradient(to top, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0)), url('https://images.pexels.com/photos/4384515/pexels-photo-4384515.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500'); background-repeat: no-repeat; background-size: 100%; background-size: cover;"></div>
                    <div class="content">
                        <h3>SPORTS</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. lorem ipsum</p>
                    </div>
                </div>
            </div>

        </div>
        </div>
        </div>


        

     
</main>
{% endblock %}
