<!DOCTYPE html>
<html lang="en">
<head>
		{% block css %}
	    {% endblock %}
		<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Karla&family=Lora&family=Montserrat&display=swap" rel="stylesheet"> 
		 <script src="https://kit.fontawesome.com/e8ff83bdae.js" crossorigin="anonymous"></script>
		<meta charset="UTF-8">
		{% load static %}
		<link rel="stylesheet" href="{% static "Blog/nav.css" %}">
        <title>BlogTown</title>
</head>
	<nav class="nav">
	      <div class="nav-menu flex-row">
			<div class="nav-brand">
				<a href="{% url 'index' %}" class="brand">BLOG</a>
				<a href="{% url 'index' %}" class="brand2">TOWN</a>
			</div>
                <div>
				<ul class="nav-items">
					<li class="nav-links">
							<a href="{% url 'index' %}">HOME</a>
					</li>
					<li class="nav-links">
							<a href="{% url 'categories' %}">CATEGORIES</a>
					<li class="nav-links">
							<a href="{% url 'contact' %}">CONTACT</a>
					</li>
					<li class="nav-links">
							<a href="{% url 'about' %}">ABOUT</a>
					</li>
					</ul>
				</div>
			</div>
		

	</nav>

<body class="Body">
		{% block body %}
		{% endblock %}
	<div class="footer">
       <div class="social us">
		    	<h3>FOLLOW BLOGTOWN</h3>
				<div class="content">
				<a href="#"><span class="fab fa-facebook-square"></span></a>
				<a href="#"><span class="fab fa-twitter-square"></span></a>
				<a href="#"><span class="fab fa-instagram-square"></span></a>
				<a href="#"><span class="fab fa-youtube-square"></span></a>
				</div>
	   </div>	
	</div>	

        
</body>
</html>
