{% extends 'Blog/layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'Blog/list.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800;900&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="category-banner"><h1>{{genre}}</h1></div>
    <div class="grid-container">
      <div class="grid-1">
			  {% for blog in grid1 %}
        <div class="post">
				<div class="img-container"><img src="{{blog.image.url}}" alt="" /></div>
		  <div class="like-bar"><div class="like-icons"><div class="like"></div>
<div class="likecount">120</div></div>
<div class="share-icons"><div class="sharecircles"></div>
<div class="sharecircles"></div>
<div class="sharecircles"></div></div></div>
		  <div class="post-title">{{blog.title | upper}}</div>
		  <p>{{blog.subheading}}</p>
		  <div class="read-btn"><a href="{% url 'read' blog.pk %}">Read more</a></div>
        </div>
				
			  {% endfor %}
      </div>
      <div class="grid-2">
			  {% for blog in grid2 %}
        <div class="post">
				<div class="img-container"><img src="{{blog.image.url}}" alt="" /></div>
		  <div class="like-bar"><div class="like-icons"><div class="like"></div>
<div class="likecount">120</div></div>
<div class="share-icons"><div class="sharecircles"></div>
<div class="sharecircles"></div>
<div class="sharecircles"></div></div></div>
		  <div class="post-title">{{blog.title | upper}}</div>
		  <p>{{blog.subheading}}</p>
		  <div class="read-btn"><a href="{% url 'read' blog.pk %}">Read more</a></div>
        </div>
				
			  {% endfor %}
    </div>
	</div>
{% endblock %}
