{% extends 'Blog/layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'Blog/list.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800;900&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
		  <div class="category-banner"><h1>ANIME</h1></div>
    <div class="grid-container">
      <div class="grid-1">
        <div class="post">
				<div class="img-container"><img src="{% static 'Blog/pic2.jpg' %}" alt="" /></div>
		  <div class="like-bar"><div class="like-icons"><div class="like"></div>
<div class="likecount">120</div></div>
<div class="share-icons"><div class="sharecircles"></div>
<div class="sharecircles"></div>
<div class="sharecircles"></div></div></div>
		  <div class="post-title">THIS IS JUST THE TITLE OF THE POST THE TITLE OF THE POST TITLE OF THE POSTO JUST THE</div>
		  <p>Tony Stark's death in Avengers: Endgame may explain why the Ten Rings are stepping out of the shadows in the MCU's Shang-Chi movie.</p>
		  <div class="read-btn"><a href="">Read more</a></div>
        </div>
        <div class="post">
          <div class="img-container"><img src="anime-apocalypse-bridge-ruins-green-sunset-clouds-scenery-anime-36370-resized.jpeg" alt="" /></div>
		  <div class="like-bar"><div class="like-icons"><div class="like"></div>
<div class="likecount">120</div></div>
<div class="share-icons"><div class="sharecircles"></div>
<div class="sharecircles"></div>
<div class="sharecircles"></div></div></div>
		  <div class="post-title">THIS IS JUST THE TITLE OF THE POST</div>
		  <p>Tony Stark's death in Avengers: Endgame may explain why the Ten Rings are stepping out of the shadows in the MCU's Shang-Chi movie.</p>
		  <div class="read-btn"><a href="">Read more</a></div>
        </div>
      </div>
      <div class="grid-2">
        <div class="post">
          <div class="img-container"><img src="anime-apocalypse-bridge-ruins-green-sunset-clouds-scenery-anime-36370-resized.jpeg" alt="" /></div>
		  <div class="like-bar"><div class="like-icons"><div class="like"></div>
<div class="likecount">120</div></div>
<div class="share-icons"><div class="sharecircles"></div>
<div class="sharecircles"></div>
<div class="sharecircles"></div></div></div>
		  <div class="post-title">THIS IS JUST THE TITLE OF THE POST</div>
		  <p>Tony Stark's death in Avengers: Endgame may explain why the Ten Rings are stepping out of the shadows in the MCU's Shang-Chi movie.</p>
		  <div class="read-btn"><a href="">Read more</a></div>
	  </div>
        <div class="post">
          <div class="img-container"><img src="anime-apocalypse-bridge-ruins-green-sunset-clouds-scenery-anime-36370-resized.jpeg" alt="" /></div>
		  <div class="like-bar"><div class="like-icons"><div class="like"></div>
<div class="likecount">120</div></div>
<div class="share-icons"><div class="sharecircles"></div>
<div class="sharecircles"></div>
<div class="sharecircles"></div></div></div>
		  <div class="post-title">THIS IS JUST THE TITLE OF THE POST</div>
		  <p>Tony Stark's death in Avengers: Endgame may explain why the Ten Rings are stepping out of the shadows in the MCU's Shang-Chi movie.</p>
		  <div class="read-btn"><a href="">Read more</a></div>
        </div>
    </div>
	</div>
{% endblock %}
