			  {% for post  in posts  %}
			  <div class="post-container">
        <div class="post">
				<div class="img-container"><img src="{{post.0.image.url}}" alt="" /></div>
		  <div class="like-bar"><div class="like-icons"><div class="like"></div>
<div class="likecount">120</div></div>
<div class="share-icons"><div class="sharecircles"></div>
<div class="sharecircles"></div>
<div class="sharecircles"></div></div></div>
		  <div class="post-title">{{post.0.title | upper}}</div>
		  <p>{{post.0.subheading}}</p>
		  <div class="read-btn"><a href="{% url 'read' post.0.pk %}">Read more</a></div>
        </div>
		{% if post.1 is not   None%}
        <div class="post post2">
				<div class="img-container"><img src="{{post.1.image.url}}" alt="" /></div>
		  <div class="like-bar"><div class="like-icons"><div class="like"></div>
<div class="likecount">120</div></div>
<div class="share-icons"><div class="sharecircles"></div>
<div class="sharecircles"></div>
<div class="sharecircles"></div></div></div>
		  <div class="post-title">{{post.1.title | upper}}</div>
		  <p>{{post.1.subheading}}</p>
		  <div class="read-btn"><a href="{% url 'read' post.1.pk %}">Read more</a></div>
        </div>
		{% endif %}
			  </div>

		{% endfor %}
