			  {% for blog in page_obj  %}
			  {% if forloop.counter|divisibleby:2 %}
        <div class="post">
				<div class="img-container"><img src="{{blog.image.url}}" alt="" /></div>
		  <div class="like-bar"><div class="like-icons"><div class="like"></div>
<div class="likecount">120</div></div>
<div class="share-icons"><div class="sharecircles"></div>
<div class="sharecircles"></div>
<div class="sharecircles"></div></div></div>
		  <div class="post-title">{{blog.title | upper}}</div>
		  <p>{{blog.subheading}}</p>
		  <div class="read-btn"><a href="{% url 'read' blog.pk %}">Read more</a></div>
        </div>
				
		{% endif %}
			  {% endfor %}
