{% extends 'Blog/layout.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'Blog/read.css' %}">
<script src="{% static 'Blog/read.js' %}"></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Libre+Baskerville&family=Dancing+Script:wght@600&family=Raleway:wght@400;500;600;800&family=Roboto&family=Lora:ital@0;1&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
{% load markdownify %}
<div class="blog-container">
		<div class="genre-container">
				<div class="genre"><h3>{{blog.genre}}</h3></div>
		</div>

<div class="blog-content">
		<h1>{{blog.title| upper}}</h1>
		<div class="img-container"><img src="{{blog.image.url}}" alt=""></div>
		<div class="text" >{{blog.content |markdownify}}</div>
</div>
<div class="author">
		<div class="author-img"><h4>AUTHOR</h4><div class="authorimg-container"><img src="{{blog.authorUsername.authorImage.url}}" alt=""></div>
				<div class="author-bio"><p>{{blog.authorUsername.authorBio}}</p></div>
		<h2>{{blog.authorUsername.authorName}}</h2>

	</div>
</div>
</div>
<section class="posts-container">
	<div class="left-icon"><i class="fas fa-chevron-circle-left"></i></div>
	<div class="right-icon"><i class="fas fa-chevron-circle-right"></i></div>

	{% for post in posts  %}
	<div class="post-card" data-url="{% url 'read' post.pk %}">
	<div class="post-img">
			<img src="{{post.image.url}}" alt="">
	</div>
	<div class="post-content">
						<div class="post-category">{{post.genre| upper}}</div>
			<div class="post-title">{{post.title| upper}}</div>
			<div class="post-author">{{post.authorUsername.authorName |upper}}</div>
	</div>
	</div>
	{% endfor %}
	</section>
{% endblock %} 
